@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-main: 23 23 23;
    --color-bg-main: 243 244 246;
    --color-bg-muted: 229 231 235;
    --color-border-main: 23 23 23;
  }
  html.dark {
    --color-text-main: 249 249 252;
    --color-bg-main: 23 23 23;
    --color-bg-muted: 36 36 36;
    --color-border-main: 242 241 236;
  }
}

.prose img {
  @apply rounded-lg shadow-lg;
}
